# Different ways of creating Framework

1. From CSV

2. From EXCEL

3. From Python Dictionary

4. From List of Tuples

5. From List of Dictionaries

In [2]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
#read excel file 
df = pd.read_excel('weather_data.xlsx')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [11]:
#list of tuples

weather_data = [('1/1/2017', 32, 6, 'Rain'),
                ('1/2/2017', 35, 7, 'Sunny'),
                ('1/3/2017', 28, 2, 'Snow'),
                ('1/4/2017', 24, 7, 'Snow'),
                ('1/5/2017', 32, 4, 'Rain'),
                ('1/6/2017', 31, 2, 'Sunny')
               ]
df = pd.DataFrame(weather_data, columns=['day', 'event', 'temperature', 'windspeed'])
df

        day  event  temperature windspeed
0  1/1/2017     32            6      Rain
1  1/2/2017     35            7     Sunny
2  1/3/2017     28            2      Snow
3  1/4/2017     24            7      Snow
4  1/5/2017     32            4      Rain
5  1/6/2017     31            2     Sunny

In [12]:
#list of dictionaries
weather_data = [{'day':'1/1/2017', 'event': 32, 'temperature': 7, 'windspeed': 'Rain'},
                {'day':'1/2/2017', 'event': 35, 'temperature': 7, 'windspeed': 'Sunny'},
                {'day':'1/3/2017', 'event': 28, 'temperature': 2, 'windspeed': 'Snow'},
                {'day':'1/4/2017', 'event': 24, 'temperature': 7, 'windspeed': 'Snow'},
                {'day':'1/5/2017', 'event': 32, 'temperature': 4, 'windspeed': 'Rain'},
                {'day':'1/6/2017', 'event': 31, 'temperature': 2, 'windspeed': 'Sunny'}
               ]
df = pd.DataFrame(weather_data)
df

        day  event  temperature windspeed
0  1/1/2017     32            7      Rain
1  1/2/2017     35            7     Sunny
2  1/3/2017     28            2      Snow
3  1/4/2017     24            7      Snow
4  1/5/2017     32            4      Rain
5  1/6/2017     31            2     Sunny

# we can create dataframes 

https://pandas.pydata.org/pandas-docs/stable/io.html